/*******************************************************************************
* ФОРМА ВВОДА И ОТОБРАЖЕНИ ИНФОРМАЦИИ
*******************************************************************************/
.df
{
	background: #FAFAFA;
	height: 100%;
	width: 100%;
	/*overflow-y: auto;
	overflow-x: hidden;*/
	/* Т.к. в IE6-7 при прокрутке страницы дочерние relative-элементы остаются прилипшими
	и перемещаются вместе с полосой прокуртки */
	*position: relative;

    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
	cursor: default;
    line-height: 150%;
}

.df button
{
	padding: 0 10px;
	cursor: pointer;
	outline: none;
	border: 1px solid #AAAAAA;
	color: #845BA1;
	background: #FFFFFF;
	margin: 0 10px 0 0;
	font-size: 12px;
	font-weight: bold;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	line-height: 28px;
	height: 30px;
	width: 100px;
	overflow: hidden;
	*overflow: visible;
}
.df button::-moz-focus-inner 
{
	/* In Firefox, the input button has more 
	padding, this might help to resolve it: */
    border: 0;
    padding: 0;
}
.df input:focus
{
	outline: none;
}
.df button:hover,
.df button.hover
{
	border-color: #845ba1;
	outline: none;
}
.df button:active,
.df button.down
{
	outline: 1px solid #845ba1;
}
.df button.disabled
{
	background: #FAFAFA;
	border-color: #AAAAAA;
	cursor: default;
	color: #AAAAAA;
	outline: none;
	text-decoration: none !important;
}
.df .df_clear
{
	clear: both;
}
.df .df_top 
{
	z-index: 10;
}
.df .df_data
{
	padding: 0 20px 30px 20px;
}
.df .df_data .df_control
{
	padding: 10px 0 0 0;
	margin: 0;
	/* Т.к. в IE6-7 мы определили для .df свойсто position-relative, то
	необходимо указать его для всех контролов. В противном случе, могут возникнуть
	перекрытия и т.п.
	Смысл в том, что родителю, на который навели мышью, присваиваем z-index больше, 
	чем у остальных контролов. */
	*width: 100%;
	*position: relative;
}
.df .df_data .df_control--disabled
{
	color: #AAAAAA !important;
}
.df .df_data .df_control--disabled input
{
	color: #AAAAAA !important;
}
.df .df_data .df_control_error
{
	color: #D00;
}
/******** df_control_groupbox ********/
.df .df_data .df_control_groupbox
{
	clear: both;
}
.df .df_data .df_control_groupbox .df_control_groupbox_title
{
	border-bottom: 1px solid #845BA1;
    padding: 0 0 5px;
    font-weight: bold;
    color: #845BA1;
}
.df .df_data .df_control_groupbox .df_control_groupbox_data
{
	border: none;
	padding: 0 10px;
}
.df .df_data .df_control--disabled .df_control_groupbox_title
{
	color: #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
}
/******** df_control_panel ********/
.df .df_data .df_control_panel
{
	margin-top: 0;
	clear: both;
}
.df .df_data .df_control_panel .df_control_panel_item
{
	float: left;
}
.df .df_data .df_control_panel .df_control_panel_item_wrapper
{
	margin-left: 10px;
}
.df .df_data .df_control_panel .df_control_panel_item_wrapper.first
{
	margin-left: 0;
}
/******** df_control_listview ********/
.df .df_data .df_control_listview
{
	height: 200px;
	position: relative;
}
.df .df_data .df_control_listview .df_control_listview_disabler
{
	z-index: 10;
	position: absolute;
	background: none;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}
.df .df_data .df_control_listview .df_control_listview_buttons
{
	width: 100px;
	padding: 0 0 0 10px;
	float: right;
	height: 100%;
}
.df .df_data .df_control_listview .df_control_listview_buttons button
{
	margin: 0 0 10px 0;
}
.df .df_data .df_control--disabled .df_control_listview_buttons button
{
	color: #AAAAAA;
}
.df .df_data .df_control_listview .df_control_listview_table
{
	border: 1px solid #AAAAAA;
	background: #FFFFFF;
	margin: 0;
	height: 100%;
	overflow: auto;
}
.df .df_data .df_control_listview .df_control_listview_wrapper .df_control_listview_table
{
	margin-right: 110px;
}
.df .df_data .df_control_listview .df_control_listview_wrapper
{
	height: 100%;
	width: 100%;
	float: left;
	margin-right: -110px;
}
.df .df_data .df_control_listview table
{
	border-collapse: collapse;
}
.df .df_data .df_control_listview table th
{
	padding: 5px;
	background: #FAFAFA;
	border-right: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
}
.df .df_data .df_control_listview table td
{
	cursor: pointer;
	padding: 5px;
	border-right: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
}
.df .df_data .df_control_listview tr:hover td
{
	background: #FAFAFA;
}
.df .df_data .df_control_listview tr.df_control_listview_row_selected td
{
	background: #FAFAFA;
}


/******** df_control_label ********/
.df .df_data .df_control_label
{
}
.df .df_data .df_control_label_out
{
	line-height: 16px;
}

/******** df_control_namevalue ********/
.df .df_data .df_control_namevalue
{	
}
.df .df_data .df_control_namevalue .df_control_namevalue_item
{
	overflow: hidden;
    padding: 5px;
	background-color: #FFFFFF;
	border: solid #AAAAAA;
	border-width: 0px 1px 1px 1px; 
}
.df .df_data .df_control--disabled .df_control_namevalue_item
{
	background-color: #FAFAFA;
}
.df .df_data .df_control_namevalue .df_control_namevalue_item.first
{
	border-width: 1px;
}
.df .df_data .df_control_namevalue .df_control_namevalue_item_value
{
	height: 16px;
	line-height: 16px;
	float: right;
	name: 
}
.df .df_data .df_control_namevalue .df_control_namevalue_item_name
{
	height: 16px;
	line-height: 16px;
	float: left;
}

/******** df_control_combobox ********/
.df .df_data .df_control_combobox .df_control_combobox_caption
{
	padding-bottom: 5px;
}
.df .df_data .df_control_combobox .df_control_combobox_value
{
	float: left;
	width: 100%;
}
.df .df_data .df_control_combobox .df_control_combobox_label
{
	cursor: pointer;
	float: left;
	padding: 6px 0px;
}
.df .df_data .df_control_combobox .df_control_combobox_button 
{
	float: right;
}
.df .df_data .df_control_combobox .df_control_combobox_button button
{
	width: 100%;
}

/******** df_control_checkbox ********/
.df .df_data .df_control_checkbox label
{
	cursor: pointer;
}
.df .df_data .df_control_checkbox i
{
	display: block;
	_display: none;
	float: left;
	font-size: 14px;
	position: relative;
	top: 1px;
	width: 16px;
}
.df .df_data .df_control_checkbox.checked label
{
	_color: #FFFFFF;
	_background: #845BA1;
}
.df .df_data .df_control--disabled label
{
	cursor: default;
	color: #AAAAAA;
}
.df .df_data .df_control_checkbox input
{
	padding: 0px;
	margin: 0px 5px 2px 0px;
	vertical-align: bottom;
}

/******** df_control_textbox ********/
.df .df_data .df_control_textbox .df_control_textbox_caption
{
	padding-bottom: 5px;
}
.df .df_data .df_control_textbox .df_control_textbox_value
{
	float: left;
	width: 100%;
}
.df .df_data .df_control_textbox .df_control_textbox_wrapper
{
    padding: 5px;
	background-color: #FFFFFF;
	border: 1px solid #AAAAAA;
}
.df .df_data .df_control--focused .df_control_textbox_wrapper
{
	border: 1px solid #845BA1;
}
.df .df_data .df_control--disabled .df_control_textbox_wrapper
{
	background-color: #FAFAFA;
}
.df .df_data .df_control_textbox .df_control_textbox_value input
{
	background-color: #FFFFFF;
	border: none;
	padding: 0px;
	margin: 0px;
	width: 100%;
	font: 12px Tahoma,Arial,Helvetica,sans-serif;
}
.df .df_data .df_control--disabled .df_control_textbox_value input
{
	background-color: #FAFAFA;
}
.df .df_data .df_control_textbox .df_control_textbox_label
{
	cursor: pointer;
	float: left;
	padding: 6px 0px;
}
.df .df_data .df_control_textbox .df_control_textbox_button 
{
	float: right;
}
.df .df_data .df_control_textbox .df_control_textbox_button button
{
	width: 100%;
}
/******** df_control_stextbox ********/
.df .df_data .df_control_stextbox
{
	position: relative;
}
.df .df_data .df_control_stextbox .df_control_stextbox_caption
{
	padding-bottom: 5px;
}
.df .df_data .df_control_stextbox .df_control_stextbox_value
{
	float: left;
	width: 100%;
}
.df .df_data .df_control_stextbox .df_control_stextbox_wrapper
{
	position: relative;
	padding: 5px;
	border: 1px solid #AAAAAA;
	background-color: #FFFFFF;
}
.df .df_data .df_control--focused .df_control_stextbox_wrapper
{
	border: 1px solid #845BA1;
}
.df .df_data .df_control--disabled .df_control_stextbox_wrapper
{
	background-color: #FAFAFA;
}
.df .df_data .df_control_stextbox .df_control_stextbox_value input
{
	background-color: #FFFFFF;
	border: none;
	padding: 0px;
	margin: 0px;
	width: 100%;
	font: 12px Tahoma,Arial,Helvetica,sans-serif;
}
.df .df_data .df_control--disabled .df_control_stextbox_value input
{
	background-color: #FAFAFA;
}
.df .df_data .df_control_stextbox .df_control_stextbox_label
{
	cursor: pointer;
	float: left;
	padding: 6px 0px;
}
.df .df_data .df_control_stextbox .df_control_stextbox_button 
{
	float: right;
}
.df .df_data .df_control_stextbox .df_control_stextbox_button button
{
	width: 100%;
}
.df .df_data .df_control_stextbox .df_control_stextbox_memory
{
	display: none;
	border: none;
	background: #FFFFFF;
	border-left: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;	
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	z-index: 3;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	top: 29px;
	left: -1px;
	position: absolute;
}
.df .df_data .df_control_stextbox .df_control_stextbox_memory_item
{
	display: none;
	cursor: pointer;
	border-bottom: 1px solid #AAAAAA;
	padding: 5px;
}
.df .df_data .df_control_stextbox .df_control_stextbox_memory_item.slctd,
.df .df_data .df_control_stextbox .df_control_stextbox_memory_item.hover,
.df .df_data .df_control_stextbox .df_control_stextbox_memory_item:hover
{
	background: #FAFAFA;
}

/******** df_control_progress ********/
.df .df_data .df_control_progress 
{
	
}
.df .df_data .df_control_progress .df_control_progress_info
{
	line-height: 20px;	
}
.df .df_data .df_control_progress .df_control_progress_info_status
{
	color: #845BA1;
	margin: 0 5px 0 0;
}
.df .df_data .df_control_progress .df_control_progress_info_percent
{
	color: #845BA1;
	font-weight: bold;
}
.df .df_data .df_control_progress .df_control_progress_bar
{
	background: #FFFFFF;
	height: 10px;
	border: 1px solid #845BA1;
}
.df .df_data .df_control_progress .df_control_progress_bar_percent
{
	height: 10px;
	width: 0;
	background: #845BA1;
}

/******** df_control_line ********/
.df .df_data .df_control_line 
{
	border-bottom: 1px solid #845BA1;
	height: 10px;
}

/******** df_control_number ********/
.df .df_data .df_control_number .df_control_number_caption
{
	padding-bottom: 5px;
}
.df .df_data .df_control_number .df_control_number_value
{
	float: left;
	width: 100%;
}
.df .df_data .df_control_number .df_control_number_wrapper
{
    padding: 5px;
	background-color: #FFFFFF;
	border: 1px solid #AAAAAA;
}
.df .df_data .df_control--focused .df_control_number_wrapper
{
	border: 1px solid #845BA1;
}
.df .df_data .df_control--disabled .df_control_number_wrapper
{
	background-color: #FAFAFA;
}
.df .df_data .df_control_number .df_control_number_value input
{
	background-color: #FFFFFF;
	border: none;
	padding: 0px;
	margin: 0px;
	width: 100%;
	font: 12px Tahoma,Arial,Helvetica,sans-serif;
}
.df .df_data .df_control--disabled .df_control_number_value input
{
	background-color: #FAFAFA;
}
.df .df_data .df_control_number .df_control_number_label
{
	cursor: pointer;
	float: left;
	padding: 6px 0px;
}
.df .df_data .df_control_number .df_control_number_button 
{
	float: right;
}
.df .df_data .df_control_number .df_control_number_button button
{
	width: 100%;
}

/******** df_command ********/
.df .df_command
{
	border-top: 1px solid #845BA1;
	padding: 0 10px 10px 10px;
}
.df .df_command_button
{
	margin: 10px 10px 0 0;
	float: left;
}
.df .df_command_button button
{
	margin: 0;
	width: 100%;
}
.df .df_command_button.accept button
{
}
.df .df_command_button.cancel
{
	width: auto;
}
.df .df_command_button.cancel button
{
	width: auto;
	border: none;
	background: none;
	outline: none;
}
.df .df_command_button.cancel button:hover
{
	text-decoration: underline;
}